# Copie para arquivo local restrito. Nunca versione valores reais.
IMAGE_TAG=
NEXT_PUBLIC_SUPABASE_URL=http://kong:8000
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
APP_ORIGIN=https://homolog.descomplicapro.com.br
